<header>

  <div class="header-section">

    <div class="logo">
      <span id="logo">Our LOGO here?
        <pre>
        .-="""""""""""=-.
        | . . . . . . . |
        | .'.'.'.'.'.'. |
       ()_______________()
       ||_______________||
        W               W
       </pre>
      </span>
      <a href="/" style="text-decoration: none;"><b>Furniture</b> Seller</a>
    </div>

    <div class="wrapper">
      
      <div class="nav-buttons">
        <div class="home-about-contact">
        <a href="/" style="text-decoration: none;"> 🏠HOME</a>
        <!-- <a href="/about" style="text-decoration: none;">ABOUT US</a> -->
        <a href="/add" style="text-decoration: none;">Add</a>
        <a href="/favorites" style="text-decoration: none;">FAVORITES</a>
        <a href="/login" style="text-decoration: none;">Login</a>
        <a href="/logout" style="text-decoration: none;">Logout</a>

      </div>


<!-- Admin/Seller authentication form -->

</header>
