
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Form</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/message.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>


</head>
<body>
  <%- include('header', { user: user }) %>

  <h1>Send message <span id="user"></span></h1>

  <form id="send-message-form">
    <div class="send-message__field-wrapper">
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <button type="submit" class="send-message">Send</button>
  </form>

  <div id="messages-received">
  <h2> Inbox </h2>
    <% for (let id in messages) { %>
      <article class="message-box">
      <div>Message from user: <%- messages[id].sender_id %></div>
      <p><%- messages[id].content %></p>
      <div>Sent at <%- messages[id].created_at %></div>

      </article>
      <% } %>
    </div>

  <script defer src="/scripts/message.js"></script>
</body>
</html>



