
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Form</title>


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/layout.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/new-product-form.js"></script>

</head>
<body>
  <%- include('header') %>

  <h1>New Form</h1>

  <form action="/add" method="post" id="new-product-form" class="new-product-form">
    <div class="new-product-form__field-wrapper">
      <label for="new-product-form__title">Title</label>
      <input type="text" name="title" placeholder="Title" id="new-product-form__title">
    </div>

    <div class="new-product-form__field-wrapper">
      <label for="new-product-form__description">Description</label>
      <textarea placeholder="Description" name="description" id="new-product-form__description" cols="30" rows="10"></textarea>
    </div>

    <div class="new-product-form__field-wrapper">
      <label for="new-product-form__price">Price</label>
      <input placeholder="Price" type="number" name="price" id="new-product-form__price">
    </div>

    <div class="new-product-form__field-wrapper">
      <label for="new-product-form__photo_url_1">Image</label>
      <input placeholder="Furniture Image" type="text" name="photo_url_1" id="new-product-form__photo_url_1">
    </div>

    <div class="new-product-form__field-wrapper">
      <label for="new-product-form__photo_url_2">Image</label>
      <input placeholder="Furniture Image" type="text" name="photo_url_2" id="new-product-form__photo_url_2">
    </div>

    <div class="new-product-form__field-wrapper">
      <label for="new-product-form__photo_url_3">Image</label>
      <input placeholder="Furniture Image" type="text" name="photo_url_3" id="new-product-form__photo_url_3">
    </div>

    <div class="new-product-form__field-wrapper">
      <label for="new-product-form__stock_quantity">Quantity</label>
      <input placeholder="Quantity" type="number" name="stock_quantity" id="new-product-form__stock_quantity" />
    </div>

    <div class="new-product-form__field-wrapper">
      <button type="submit" class="add-button">Add</button>

    </div>

  </form>

  <script src="scripts/new_product_form.js"></script>
</body>
</html>



