.header-section {
  // background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  top: 0;
  height: 250px;
  // position: fixed;

  background-image: url('https://images.squarespace-cdn.com/content/v1/5a454ab9fe54efc3d3028316/1548301014484-MBSEJ7UB2CNKCTJUN97O/header+img.jpg?format=2500w');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  align-items: stretch;

}

header {
  width: 100%;
  top: 0;
}

body, header {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 70%;
  // margin-top: 2rem;
  padding: 4rem 4rem 4rem 0;
  justify-content: center;
  // justify-content: space-around;
  display: inline-flex;
}
.header-element {
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.header-element:last-child {
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}

.log-info {
  color: white;
}


.home-about-contact {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the spacing between buttons */
}

/* Style the buttons */
.home-about-contact a {
  text-decoration: none;
  color: #333; /* Adjust the text color */
  padding: 2px 4px;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Add smooth transition effect */
}

.home-about-contact a:hover {
  background-color: #333; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}

.main-logo {
  padding-right: 100px;
  color: #333333e6;
}

/* Remove margin from last element */
.home-about-contact .header-element:last-child {
  margin-right: 0; /* Set margin-right to 0 for the last element */
}
