body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
}

#featured-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  flex-wrap: wrap;
}

.featured-item {
  background-color:white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  width: 450px;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: yellow;
}

nav{
  span {
    pre {
      color: red;
    }
  }
}

small {
  margin-bottom: 200px;
}
